html,body{
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  width: 960px;
  margin:0 auto;
}

nav{
  position: relative;
  background: #fff;
  color: #000;
  height: 108px;
}

nav::after{
  content: "";
  display: table;
  clear: both;
}

nav > ul{
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 29px 0;
}

nav > ul > li{
  float:left;
  width: 136px;
}

nav > ul > li > a{
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  text-decoration: none;
  color: #524261;
  font-size: 1rem;
  text-align: left;
  transition: color 0.4s ease;
}

nav > ul > li > a:hover{
  color: rgba(0,0,0,.5);
  transition: color 0.4s ease;
}

nav > ul > li:first-child > a{
  padding-left: 0;
}
nav > ul > li:last-child > a{
  padding-right: 0;
}
nav > ul > li:nth-child(2){
  width: 161px;
}
nav > ul > li:nth-child(3){
  width: 188px;
}
nav > ul > li:nth-child(4){
  width: 197px;
}
nav > ul > li:nth-child(5){
  width: 140px;
}

nav .active{
  color: rgba(0,0,0,.5);
}

.rsvp{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid rgba(123,99,146,1);
  color: #524261;
  font-size: .875rem;
  font-weight: lighter;
  text-align: center;
  width: 140px;
  background: #fff;
  height: 46px;
  line-height: 46px;
  font-family: arial, helvetica, sans-serif;
}

.rsvp:hover{
  background: rgba(0,0,0,.1);
}


.main{
  position: relative;
  background-image: url('img/couple2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -50%;
  margin-right: -50%;
  height: 81.5vh;
}

.overlay{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: rgba(176,209,255,.5);
}

.greeting{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;

}

.greeting > h1{
  margin: 0;
}

.greeting > h1 > span{
  letter-spacing: 0.1em;
  font-family: 'Dancing Script', cursive;
}

.engaged{
  font-size:80px;
}



footer{
  position: relative;
  height: 61px;
  margin-left: -50%;
  margin-right: -50%;
  background-color: rgba(46, 46, 46, 1);
  color: #fff;
  line-height: 61px;
}

.float-right{
  float:right;
}

.social-icon{
  position: relative;
  color: #fff;
  margin-left: 20px;
}
